$lightgreen: #81e6d9;
$green: #4fd1c5;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // shad
  // --radius: 0.625rem;
  // --background: oklch(1 0 0);
  // --foreground: oklch(0.145 0 0);
  // --card: oklch(1 0 0);
  // --card-foreground: oklch(0.145 0 0);
  // --popover: oklch(1 0 0);
  // --popover-foreground: oklch(0.145 0 0);
  // --primary: oklch(0.205 0 0);
  // --primary-foreground: oklch(0.985 0 0);
  // --secondary: oklch(0.97 0 0);
  // --secondary-foreground: oklch(0.205 0 0);
  // --muted: oklch(0.97 0 0);
  // --muted-foreground: oklch(0.556 0 0);
  // --accent: oklch(0.97 0 0);
  // --accent-foreground: oklch(0.205 0 0);
  // --destructive: oklch(0.577 0.245 27.325);
  // --border: oklch(0.922 0 0);
  // --input: oklch(0.922 0 0);
  // --ring: oklch(0.708 0 0);
  // --chart-1: oklch(0.646 0.222 41.116);
  // --chart-2: oklch(0.6 0.118 184.704);
  // --chart-3: oklch(0.398 0.07 227.392);
  // --chart-4: oklch(0.828 0.189 84.429);
  // --chart-5: oklch(0.769 0.188 70.08);
  // --sidebar: oklch(0.985 0 0);
  // --sidebar-foreground: oklch(0.145 0 0);
  // --sidebar-primary: oklch(0.205 0 0);
  // --sidebar-primary-foreground: oklch(0.985 0 0);
  // --sidebar-accent: oklch(0.97 0 0);
  // --sidebar-accent-foreground: oklch(0.205 0 0);
  // --sidebar-border: oklch(0.922 0 0);
  // --sidebar-ring: oklch(0.708 0 0);

  // color-scheme: light;
  // @media (prefers-color-scheme: dark) {
  //   color-scheme: dark;
  // }
}

html,
#page,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  padding: 12px;
  & > header {
    margin-bottom: 12px;
    & > button {
      margin-right: 12px;
    }
  }
}

h1 {
  margin: 0;
  font-size: 24px;
  line-height: 1.1;
}

p {
  margin: 0;
}

/* #region icons */
.icon,
.icon-fill {
}
.icon {
  stroke: currentColor;
}
.icon:hover {
  stroke: green;
}
.icon-fill {
  fill: currentColor;
}
.icon-fill:hover {
  fill: green;
}

/* #region controls */
button {
  // border: 1px solid transparent;
  // padding: 0.6em 1.2em;
  // font-size: 1em;
  // font-weight: 500;
  // font-family: inherit;
  // background-color: rgba(255, 255, 255, 0.2);
  //transition: border-color 0.25s;
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  padding: 8px;
  background: $lightgreen;
}
button:hover {
  background: $green;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* back button */
button[type="button"] {
  background: red;
  color: currentColor;
  font-weight: bold;
  &:hover {
    background: crimson;
  }
}
button.with-icon {
  display: flex;
  align-items: center;
  gap: 6px;
}
button.with-icon:hover {
  background: white;
  &:hover {
    svg {
      stroke: green;
    }
  }
}

/* specific input */
input[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}
input[type="file"] + label {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
input[type="number"] {
  width: 45px;
}

textarea {
  padding: 6px;
}
/* #endregion */

/* #region icons */
.edit-icon {
  stroke: $lightgreen;
  fill: none;
  &:hover {
    //stroke: white;
    fill: $lightgreen;
  }
}
button .edit-icon {
  stroke: black;
  fill: none;
}

/* #region utils */
@keyframes rotator {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(270deg);
  }
}
.spinner {
  display: inline-block;
  border-color: currentColor;
  border-style: solid;
  border-radius: 99999px;
  border-width: 2px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: rotator 0.45s linear infinite;
  width: 1.5rem;
  height: 1.5rem;
  & > span {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
  }
}
/* #endregion */

/* #region editor */
.tox-tinymce {
  border-radius: 0 !important;
}
/* #endregion */

/* #region resizer */
.Resizer {
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 1px;
  margin: -1px 0;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.5);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}
/* #endregion */

/* #root {
max-width: 1280px;
margin: 0 auto;
padding: 2rem;
text-align: center;
} */

/* a {
font-weight: 500;
color: #646cff;
text-decoration: inherit;
}

a:hover {
color: #535bf2;
}

body {
margin: 0;
display: flex;
place-items: center;
min-width: 320px;
min-height: 100vh;
}


button {
border-radius: 8px;
border: 1px solid transparent;
padding: 0.6em 1.2em;
font-size: 1em;
font-weight: 500;
font-family: inherit;
background-color: #1a1a1a;
cursor: pointer;
transition: border-color 0.25s;
}

button:hover {
border-color: #646cff;
}

button:focus,
button:focus-visible {
outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
:root {
  color: #213547;
  background-color: #ffffff;
}

a:hover {
  color: #747bff;
}

button {
  background-color: #f9f9f9;
}
} */

/*
@import "tailwindcss";
// @import "tw-animate-css";
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
@custom-variant dark (&:is(.dark *));
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
*/
