@import "@radix-ui/themes/styles.css";
@config "../tailwind.config.mjs";
@import "tailwindcss/utilities";
@tailwind utilities;

.radix-themes {
  --color-background: rgba(211, 211, 211, 0.3);
  --cursor-button: pointer;
  --default-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --secondary-font-family: Spectral, Georgia, ui-serif, serif;

  #modal {
    background: var(--color-background);
    #login-modal,
    #notif-modal,
    #share-modal {
      background: var(--color-background);
      padding: 24px;
    }
    #login-modal {
      a {
        font-size: smaller;
      }
    }
  }

  #page {
    padding-bottom: 36px;
    header {
      color: white;
    }
    #error-page {
      height: 100%;
      background: var(--color-background);
      padding: 24px;
    }
    #home-page {
      background: var(--color-background);
    }
    #book-page {
      background: var(--color-background);
      section p {
        font-family: var(--secondary-font-family);
      }
    }
    #note-page {
      main {
        background: rgba(211, 211, 211, 0.9);
        p  {
          font-family: var(--secondary-font-family);
        }
      }
    }
  }

  &.light {
    #book-page section > main {
      background: rgba(211, 211, 211, 0.9);
    }
  }

  &.dark {
    --color-background: rgba(0, 0, 0, 0.5);
    #modal {
      background: var(--color-background);
    }
    #home-page {
      background: rgba(0, 0, 0, 0.7);
    }
    #book-page {
      background: var(--color-background);
      section > main {
        background: rgba(0, 0, 0, 0.7);
      }
    }
    #note-page > main {
      background: rgba(0, 0, 0, 0.7);
    }
  }
}

button {
  &.back-btn {
    background: var(--red-9);
    &:hover {
      background: var(--red-10);
    }
  }
  &.with-icon {
    padding: 3px 3px 3px 6px;
    & > svg {
      stroke: currentColor;
    }
  }
}

/* #region icons */
.delete-icon {
  fill: white;
  stroke: red;
}
.edit-icon {
  stroke: var(--green-9);
  fill: none;
}
.external-icon {
  stroke: white;
}
.share-icon {
  fill: white;
}
/* #endregion */

/* #region editor */
.tox-tinymce {
  border-radius: 0 !important;
}
/* #endregion */

/* #region spinner */
@keyframes rotator {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(270deg);
  }
}
.spinner {
  display: inline-block;
  border-color: currentColor;
  border-style: solid;
  border-radius: 99999px;
  border-width: 2px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: rotator 0.45s linear infinite;
  width: 1.5rem;
  height: 1.5rem;
  & > span {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
  }
}
/* #endregion */

/* #region toast */
.toasts-container {
  position: fixed;
  z-index: 65535;
  right: 0;
  max-width: 250px;
  display: flex;
  flex-direction: column-reverse;
}

.toasts-container > .toast-container {
  margin-bottom: 10px;
}

.toasts-container:last-child {
  margin-bottom: 0;
}

.toast-container {
  visibility: hidden;
  position: relative;
  z-index: 65535;
  right: -1000px;

  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;

  max-width: 250px;
}

.toast-container.show-toast {
  visibility: visible;
  right: 24px;
  animation: slidein 0.5s;
}

.toast-container.hide-toast {
  visibility: visible;
  animation: slideout 0.5s;
}

@keyframes slidein {
  from {
    right: -1000px;
    opacity: 0;
  }
  to {
    right: 24px;
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    right: 24px;
    opacity: 1;
  }
  to {
    right: -1000px;
    opacity: 0;
  }
}
/* #endregion */
