@plugin "@tailwindcss/typography";

@import "tailwindcss" prefix(tw);
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "@radix-ui/themes/styles.css" layer(components);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --tw-color-primary: #aab9ff;
}

@layer base {
  [data-theme="ocean"] {
    --tw-color-primary: #aab9ff;
  }

  [data-theme="rainforest"] {
    --tw-color-primary: #56d0a0;
  }

  [data-theme="candy"] {
    --tw-color-primary: #f9a8d4;
  }

  body {
    max-width: var(--tw-breakpoint-lg);
    background-image: url("/bg.jpg");
    background-repeat: repeat;
    margin: 0 auto;
  }

  h1 {
    font-size: var(--tw-text-2xl);
  }
  h2 {
    font-size: var(--tw-text-xl);
  }
  h3 {
    font-size: var(--tw-text-lg);
  }
}

@layer components {
  button {
    &[type="button"] {
      &.back-btn {
        background-color: var(--tw-color-red-700);
        &:hover {
          background-color: var(--tw-color-red-600);
        }
      }

      & > svg {
        stroke: currentColor !important;
      }
    }
  }
  svg {
    &.delete-icon {
      fill: white;
      stroke: red;
    }
    &.edit-icon {
      stroke: var(--green-9);
      fill: none;
    }
    &.external-icon {
      stroke: white;
    }
    &.share-icon {
      fill: white;
    }
  }
}

@layer utilities {
  .prose {
    --tw-prose-body: unset;
  }
  #page {
    padding-bottom: 36px;
    header {
      color: white;
    }
    #error-page {
      height: 100%;
      background: var(--color-background);
      padding: 24px;
    }
    #home-page {
      background: var(--color-background);
    }
    #book-page {
      background: var(--color-background);
      section main * {
        font-family: var(--secondary-font-family);
        letter-spacing: var(--letter-spacing-1);
      }
    }
    #note-page {
      main {
        border-radius: var(--radius-4);
        padding: 6px 12px;
        font-family: var(--secondary-font-family);
        letter-spacing: var(--letter-spacing-1);
      }
    }
  }
  #modal {
    background: var(--color-background);
    #login-modal,
    #notif-modal,
    #share-modal {
      background: var(--color-background);
      padding: 24px;
    }
    #login-modal {
      a {
        font-size: smaller;
      }
    }
  }
  .radix-themes {
    --width-sm: var(--tw-breakpoint-sm);
    --width-md: var(--tw-breakpoint-md);
    --width-lg: var(--tw-breakpoint-lg);
    --width-xl: var(--tw-breakpoint-xl);
    --width-2xl: var(--tw-breakpoint-2xl);

    --color-background: rgba(211, 211, 211, 0.3);
    --cursor-button: pointer;
    --default-font-family: Inter, system-ui, Avenir, Helvetica, Arial,
      sans-serif;
    --secondary-font-family: Spectral, Georgia, ui-serif, serif;
    --default-letter-spacing: 0em;
    --letter-spacing-1: 0.07em;

    &.light {
      #book-page section > main {
        background: rgba(211, 211, 211, 0.9);
      }
      #note-page main {
        background: rgba(211, 211, 211, 0.9);
      }
    }
    &.dark {
      --color-background: rgba(0, 0, 0, 0.5);
      #modal {
        background: var(--color-background);
      }
      #home-page {
        background: rgba(0, 0, 0, 0.7);
      }
      #book-page {
        background: var(--color-background);
        section > main {
          background: rgba(0, 0, 0, 0.7);
        }
      }
      #note-page > main {
        background: rgba(0, 0, 0, 0.7);
      }
    }
  }
  .tox-tinymce {
    border-radius: 0 !important;
  }
}

/* #region spinner */
@keyframes rotator {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(270deg);
  }
}
.spinner {
  display: inline-block;
  border-color: currentColor;
  border-style: solid;
  border-radius: 99999px;
  border-width: 2px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: rotator 0.45s linear infinite;
  width: 1.5rem;
  height: 1.5rem;
  & > span {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
  }
}
/* #endregion */

/* #region toast */
.toasts-container {
  position: fixed;
  z-index: 65535;
  right: 0;
  max-width: 250px;
  display: flex;
  flex-direction: column-reverse;
}

.toasts-container > .toast-container {
  margin-bottom: 10px;
}

.toasts-container:last-child {
  margin-bottom: 0;
}

.toast-container {
  visibility: hidden;
  position: relative;
  z-index: 65535;
  right: -1000px;

  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;

  max-width: 250px;
}

.toast-container.show-toast {
  visibility: visible;
  right: 24px;
  animation: slidein 0.5s;
}

.toast-container.hide-toast {
  visibility: visible;
  animation: slideout 0.5s;
}

@keyframes slidein {
  from {
    right: -1000px;
    opacity: 0;
  }
  to {
    right: 24px;
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    right: 24px;
    opacity: 1;
  }
  to {
    right: -1000px;
    opacity: 0;
  }
}
/* #endregion */
